
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
/*@import "variables";*/

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.logo-mid{
  height: 35px;
  width: auto;
  display: block;
  margin: 9px auto;
}

.no-padding{
  padding: 0px !important;
}

.carousels{
  margin-bottom: 15px;
  .el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
}

@media screen and (min-width: 1198px){
  body{
    padding: 30px 30px 0px 30px;
  }
}